flows risk.json
[{"id":"a080ab3dc3406327","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"33aa87c078366ef8","type":"ui_form","z":"a080ab3dc3406327","name":"","label":"","group":"7029755c.9db36c","order":4,"width":0,"height":0,"options":[{"label":"Age","value":"Age","type":"number","required":true,"rows":null},{"label":"Sex","value":"Sex","type":"text","required":true,"rows":null},{"label":"Job","value":"Job","type":"number","required":true,"rows":null},{"label":"Housing","value":"Housing","type":"text","required":true,"rows":null},{"label":"Saving_accounts","value":"Saving_accounts","type":"text","required":true,"rows":null},{"label":"Checking_account","value":"Checking_account","type":"text","required":true,"rows":null},{"label":"Credit_amount","value":"Credit_amount","type":"number","required":true,"rows":null},{"label":"Duration","value":"Duration","type":"number","required":true,"rows":null},{"label":"Purpose","value":"Purpose","type":"text","required":true,"rows":null}],"formValue":{"Age":"","Sex":"","Job":"","Housing":"","Saving_accounts":"","Checking_account":"","Credit_amount":"","Duration":"","Purpose":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":110,"y":160,"wires":[["c01135b650e41d7c"]]},{"id":"30303fb2ac0bafd3","type":"debug","z":"a080ab3dc3406327","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":40,"wires":[]},{"id":"c01135b650e41d7c","type":"function","z":"a080ab3dc3406327","name":"gloabal variables for form node","func":"global.set(\"Age\",msg.payload.Age)\nglobal.set(\"Sex\",msg.payload.Sex)\nglobal.set(\"Job\",msg.payload.Job)\nglobal.set(\"Housing\",msg.payload.Housing)\nglobal.set(\"Saving_accounts\",msg.payload.Saving_accounts)\nglobal.set(\"Checking_account\",msg.payload.Checking_account)\nglobal.set(\"Credit_amount\",msg.payload.Credit_amount)\nglobal.set(\"Duration\",msg.payload.Duration)\nglobal.set(\"Purpose\",msg.payload.Purpose)\nvar apikey =\"ZchLhydrik2Czq1rvVKnn0lhkln2pm_5EIl29mnGH14i\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":140,"wires":[["30303fb2ac0bafd3","ad36e532d2b36c54","8cd829b48be568ec"]]},{"id":"ad36e532d2b36c54","type":"http request","z":"a080ab3dc3406327","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":160,"wires":[["aba9e3ca8e0ef3bf","a0c286b4f1ba33bd"]]},{"id":"aba9e3ca8e0ef3bf","type":"debug","z":"a080ab3dc3406327","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":60,"wires":[]},{"id":"a0c286b4f1ba33bd","type":"function","z":"a080ab3dc3406327","name":"pre prediction","func":"var Age = global.get(\"Age\")\nvar Sex = global.get(\"Sex\")\nvar Job = global.get(\"Job\")\nvar Housing = global.get(\"Housing\")\nvar Saving_accounts = global.get(\"Saving_accounts\")\nvar Checking_account = global.get(\"Checking_account\")\nvar Credit_amount = global.get(\"Credit_amount\")\nvar Duration = global.get(\"Duration\")\nvar Purpose = global.get(\"Purpose\")\n\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Sex\", \"Job\",\"Housing\", \"Saving_accounts\",\"Checking_account\",\"Credit_amount\",\"Duration\",  \"Purpose\"]],\"values\": [[Age, Sex, Job,Housing,Saving_accounts,Checking_account,Credit_amount,Duration,Purpose]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":240,"wires":[["e18dd4428f546ffd","d1f3ef4ad3aaae3e"]]},{"id":"e18dd4428f546ffd","type":"http request","z":"a080ab3dc3406327","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/a067a55d-3ade-488c-8159-c5b0e1a319c1/predictions?version=2021-12-02","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":810,"y":160,"wires":[["f3418e457dcc360e","e561c4313c731b74"]]},{"id":"f3418e457dcc360e","type":"debug","z":"a080ab3dc3406327","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":60,"wires":[]},{"id":"e561c4313c731b74","type":"function","z":"a080ab3dc3406327","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":320,"wires":[["022af423c0a0e9dd","8c353a59f1432f4e"]]},{"id":"022af423c0a0e9dd","type":"debug","z":"a080ab3dc3406327","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":400,"wires":[]},{"id":"8c353a59f1432f4e","type":"ui_text","z":"a080ab3dc3406327","group":"7029755c.9db36c","order":5,"width":0,"height":0,"name":"","label":"Risk is","format":"{{msg.payload}}","layout":"row-spread","className":"","x":910,"y":240,"wires":[]},{"id":"8cd829b48be568ec","type":"debug","z":"a080ab3dc3406327","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":300,"wires":[]},{"id":"d1f3ef4ad3aaae3e","type":"debug","z":"a080ab3dc3406327","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":340,"wires":[]},{"id":"7029755c.9db36c","type":"ui_group","name":"Enter the values","tab":"0b6d88084e5556cf","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0b6d88084e5556cf","type":"ui_tab","name":"Financial Risk Prediction","icon":"dashboard","disabled":false,"hidden":false}]